<div class="welcome-page">
  <mat-card class="welcome-card">
    <mat-card-header class="welcome-header">
      <mat-card-title><b>Welcome to myFlix!</b></mat-card-title>
    </mat-card-header>
    <mat-card-actions class="welcome-actions">
    <button
      mat-raised-button
      class="register"
      (click)="openUserRegistrationDialog()"
      style="margin-right: 10px;"
      color="primary"
    >
     <mat-icon>person_add</mat-icon> Create Account!
    </button>
    <button
      mat-raised-button
      class="register"
      color="primary"
      (click)="openUserLoginDialog()"
      style="margin-right: 10px;"
    >
      <mat-icon>account_circle</mat-icon>Login!
    </button>
  </mat-card-actions>
  </mat-card>
</div>