<app-navbar></app-navbar>
<div style="display: flex;">
    <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto;">
        <mat-card-header>
        <mat-card-title class="movie-card-title">{{movie.Title}}</mat-card-title>
        </mat-card-header>
        <img 
        src="https://brett-flix.herokuapp.com/{{movie.ImagePath}}" 
        alt= "{{movie.Title}}" 
        width="350"
        height="500"
        />
        <mat-card-actions>
            <button
                mat-stroked-button
                class="movie-button"
                color="primary"
                (click)="openGenre(movie.Genre.Name, movie.Genre.Description)"
            >
                Genre
            </button>
            <button
                mat-stroked-button
                class="movie-button"
                color="primary"
                (click)="openDirector(movie.Director.Name, movie.Director.Bio)"
            >
                Director
            </button>
            <button
                mat-stroked-button
                class="movie-button"
                color="primary"
                (click)="openDescription(movie.Title, movie.Description)"
            >
                Summary
            </button>
            <button 
                mat-button
                class="fav-button"
                color="primary"
                *ngIf="!isFav(movie._id)"
                (click)="addFavorite(movie._id)"
            >
            <mat-icon>favorite_border</mat-icon>
            </button>
            <button 
                mat-button
                class="fav-button"
                color="primary"
                *ngIf="isFav(movie._id)"
                (click)="deleteFavorite(movie._id)"
            >
            <mat-icon>favorite</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>